.div{
 background-color: rgb(136, 194, 70);
 height: 100px;
}

/* 基本的な編集 */
*
{
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
}
.container
{
  width: 1260px;
  padding: 0 30px;
  margin: auto;
  background-color: #fff;
}
.changer
{
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.tolist,
.torank
{
  display: inline-block;
  margin-left: 30px;
}
.panel.panel-on
{
  display: block;
}
.flexer
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 60px 30px;
}


/* 基本的な編集 ここまで */


/* ヘッダー */

.gnav-wrapper
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global-navigation_user
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  .menu-item
  {
    margin-left: 20px;
  }
}

/* ヘッダー ここまで */


/* front-page */
.main-column
{
  .container
  {
    padding: 0;
  }
}
.recipe-card
{
  padding: 30px;
  border-bottom: 1px solid #999;
  display: block;
}
.recipe-card-link
{
  display: block;
  -webkit-outline: 1px solid transparent;
  -ms-outline: 1px solid transparent;
  outline: 1px solid transparent;
  -webkit-outline-offset: -20px;
  -ms-outline-offset: -20px;
  outline-offset: -20px;
  transition: .3s;
  &:hover
  {
    -webkit-outline: 1px solid #aaa;
    -ms-outline: 1px solid #aaa;
    outline: 1px solid #aaa;
    -webkit-outline-offset: -1px;
    -ms-outline-offset: -1px;
    outline-offset: -1px;
  }
  &:hover .recipe_name
  {
    color: #fff;
    background-color: #7e0;
  }
}
.recipe_list,
.recipe_ranking
{
  width: 65%;
  background-color: #ff0;
  display: none;
}
.recipe_ttl
{
  .recipe_name
  {
    color: #7e0;
    font-size: 24px;
    transition: .3s;
    display: inline-block;
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      "Meiryo",
      sans-serif;

  }
}
.recipe_name
{
  margin-bottom: 12px;
}
.front-material
{
  color: #ddd;
  font-size: 12px;
  margin-bottom: 12px;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;

}
.front-howtomake
{
  color: #fa0;
  font-size: 12px;
  margin-bottom: 12px;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
}

.side-column
{
  width: 30%;
  background-color: #ff0;
}

/* front-page is over */


/* single-article */
.main-contents
{
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-column
{
  padding-top: 20px;
  padding-bottom: 50px;
}
.recipe-ttl-wrap,
.material-wrap,
.htm-wrap,
.notice-wrap,
.fav_and_good
{
  display: flex;
  margin-top: 20px;
}
.fav_and_good
{
  display: flex;
  align-items: center;
}
.tbn-imgwrap
{
  width: 250px;
}
.htm-wrap,
.notice-wrap
{
  justify-content: space-between;
}
.notice_and_teck,
.trigger
{
  width: 45%;
}
.single.recipe_ttl
{
  font-size: 28px;
}
.single.main-column
{
  width: 500px;
}
.material
{
  margin-left: 20px;
}
.material_h4,
.htm_h4,
.nat_h4,
.trigger_h4
{
  color: #ccc;
  font-size: 18px;
  margin-bottom: 5px;
}
.material_content p,
.htm-contents p,
.nat_content p,
.trigger_content p
{
  font-size: 14px;
  line-height: 1.7;
}
.good-wrapper
{
  margin-left: 20px;
}


/* single-article is over */
