.div {
	background-color: #88c246;
	height: 100px;
}

/* 基本的な編集 */

.container {
	background-color: #fff;
	margin: auto;
	padding: 0 30px;
	width: 1260px;
}

.flexer {
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	padding: 60px 30px;
}

/* 基本的な編集 ここまで */

/* ヘッダー */

.gnav-wrapper {
	align-items: center;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.global-navigation_user {
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.global-navigation_user .menu-item {
	margin-left: 20px;
}

/* ヘッダー ここまで */

/* front-page */

.main-column .container {
	padding: 0;
}

.recipe-card {
	border-bottom: 1px solid #999;
	display: block;
	padding: 30px;
}

.recipe-card-link {
	display: block;
	outline: 1px solid transparent;
	outline-offset: -20px;
	transition: .3s;
}

.recipe-card-link:hover {
	outline: 1px solid #aaa;
	outline-offset: 0px;
}

.recipe-card-link:hover .recipe_name {
	background-color: #7e0;
	color: #fff;
}

.recipe_list {
	background-color: #ff0;
	width: 65%;
}

.recipe_ttl .recipe_name {
	color: #7e0;
	display: inline-block;
	font-size: 24px;
	transition: .3s;
}

.recipe_name {
	margin-bottom: 12px;
}

.front-material {
	color: #ddd;
	font-size: 12px;
	margin-bottom: 12px;
}

.front-howtomake {
	color: #fa0;
	font-size: 12px;
	margin-bottom: 12px;
}

.side-column {
	background-color: #ff0;
	width: 30%;
}

/* front-page is over */

/* single-article */

.main-contents {
	padding-bottom: 60px;
	padding-top: 60px;
}

.main-column {
	padding-bottom: 50px;
	padding-top: 20px;
}

.recipe-ttl-wrap,
.material-wrap,
.htm-wrap,
.notice-wrap,
.fav_and_good {
	display: flex;
	margin-top: 20px;
}

.fav_and_good {
	align-items: center;
	display: flex;
}

.tbn-imgwrap {
	width: 250px;
}

.htm-wrap,
.notice-wrap {
	justify-content: space-between;
}

.single.recipe_ttl {
	font-size: 28px;
}

.single.main-column {
	width: 500px;
}

.material {
	margin-left: 20px;
}

.material_h4,
.htm_h4,
.nat_h4,
.trigger_h4 {
	color: #ccc;
	font-size: 18px;
	margin-bottom: 5px;
}

.material_content p,
.htm-contents p,
.nat_content p,
.trigger_content p {
	font-size: 14px;
	line-height: 1.7;
}

.good-wrapper {
	margin-left: 20px;
}

/* single-article is over */

